.header-example
{
    color:red; 
    font-size: 20px; 
    font-family: 'Comic Sans MS';
}
.list-example
{
    color:blue;
    list-style-type: circle;

}
.color-example
{
    color:#0000ff;
    background-color: #ffff00;
    border-style: double;
    border-color: #03020f;
    border-width: thick;
}
.text-example
{
    font-family: 'Times New Roman';
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: underline;
}
.div-example
{
    background-color: rgb(248, 6, 115);
    border-style: groove;
    border-color: #0000ff;
    border-width: thin;
}
body{
    background-color: #bce8f5;
}
h1{
    border-style: dashed;
    text-align: center;
    padding: 10px
}
.p-example
{
    background-color: aquamarine;
    border-style:dotted;
    border-radius: 15px;
    text-align: center;
    padding: 20px
}

